
<!--Privacy And Policay Section-->
<div class="page-heading" style="background-image:url(./assets/img/page-banner/term-of-use.png)">
<div class="page-overlay"></div>
   <div class="container">
      <div class="page-title">
         <div class="iw-heading-title">
            <h1 class="d-none">
              Term of Use
            </h1>
         </div>
      </div>
   </div>
</div>
<section class="bg-grey">
  <div class="nav-container">
    <h5 class="text_b">The use of this web site constitutes agreement with the following terms and conditions:</h5>
    <ul class="list-circle list-inline">
      <li> (a) The Humanity Welfare Council maintains this website as a courtesy to its users who may choose to access the Site. The information presented herein is for informative purposes only. The Humanity Welfare Council grants permission to download the information on the website for non-commercial use only.</li>
     <li> (b) It is mandatory to obtain permission from The Humanity Welfare Council if you wish to reuse, repost, share, change or use any of the content on its website.</li>
    <li>  (c) Unless expressly stated otherwise, the conclusions, interpretations and results expressed in the materials on this site are those of the various donors, experts, members and victims approaching the Humanity Welfare Council who prepared the work and do not significantly represent the views of Humanity Welfare Council.</li>
    <li>  (d) Humanity Welfare Council has provided only such information on the site that is right to the best of their awareness and belief for the users benefit. They are not accountable for the accuracy, adequacy, timeliness, or comprehensiveness of the information provided on the website.</li>
    <li>  (e) Humanity Welfare Council has a right to suspend any or all of the projects or programmes displayed on its website and to make changes, corrections and improvements to the information mentioned without any prior notice.</li>
    <li>  (f) Humanity Welfare Council will be only responsible for the links connected to its projects and programs but holds no responsibility for any off-site pages or pop-ups linked to it.</li>
    <li>  (g) Your access to the website establishes acceptance of these Terms of use as of the date of your first use of the website and you must agree to use the website only for lawful purposes, and in a manner which does not infringe the rights, or restrict the use and enjoyment of the website by any third party.</li>
     <li> (h) In case any content is considered to be unlawful or against the law, it shall be removed forthwith by us on being intimated by the authorities of the respective jurisdiction that such content is deemed unlawful. We cannot be held liable or questioned for the same.</li>
    <li>  (i) The terms of use shall prevail as per the laws of India.</li>
    <li>  (j) Visiting the website means full acceptance of terms of use.</li>
      
    </ul>
   <h5> Disclaimer:</h5>
   <p>You have to abide by the above-mentioned terms of use that are applicable by law if you use the Humanity Welfare Council website. By accessing the website you ensure your acceptance of the terms and conditions. Under no conditions shall the Humanity Welfare Council be liable for any loss, damage or liability suffered that is claimed to have resulted from the use of this Site, including, without limitation, any fault, error, omission, interruption or delay with respect thereto. The use of this Site is at the User’s sole risk.</p>
  </div>
</section>
<app-newsletter></app-newsletter>
