<div class="row align-items-center know-someone-section" >
   <div class="col-lg-9">
      <h5 class="text-right_0  mb-0">Know someone in need of funds for medical emergency?</h5>
   </div>
   <div class="col-lg-3">
      <a  data-toggle="modal" data-target="#refersToUs" class="btn refer-to-us-btn">Refer to us</a>
   </div>
</div>
<div class="modal fade" id="refersToUs"  tabindex="-1" aria-labelledby="donateFormOurWokrModalSaloniLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content boxshadow-gray">
         <div class="modal-header">
            <p class="modal-title know-details" id="donateFormOurWokrModalLabel">Fill your details so that we can send you updates about the cases.</p>
            <button type="button" #closemodal class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
         </div>
         <div class="modal-body">
            <form action="" method="post" [formGroup]="enquiryForm" (ngSubmit)="onSubmitEnquiry()">
            <div class="card border-global rounded-0">
               <div class="card-body p-3">
                  <!--Body-->
                  <div class="form-group">
                     <div class="input-group mb-2 form-border">
                        <div class="input-group-prepend">
                           <div class="input-group-text"><i class="fa fa-user "></i></div>
                        </div>
                        <input type="text" class="form-control border-none" id="name" name="name" pattern="[a-zA-Z\s]+"   formControlName="name"    [(ngModel)]="data.name" [ngClass]="{'is-invalid':submitted  &&  g.name.errors}" placeholder="Enter  Name *">
                     </div>
                    <div *ngIf="enquiryForm.get('name').touched && enquiryForm.get('name').invalid" >
                     <div class="alert-danger1" *ngIf="enquiryForm.get('name').errors.required" >Name is required</div>
                     <div class="alert-danger1" *ngIf="enquiryForm.get('name').errors.pattern" >Name should be Alpha vise only</div>
                   </div>
                  </div>
                  <div class="form-group">
                     <div class="input-group mb-2 form-border">
                        <div class="input-group-prepend">
                           <div class="input-group-text"><i class="fa fa-envelope "></i></div>
                        </div>
                        <input type="email" class="form-control border-none" id="email"   formControlName="email"  [(ngModel)]="data.email" [ngClass]="{ 'is-invalid': submitted && g.email.errors}"   placeholder="Enter  Email Id *" required>
                     </div>
                     <div  *ngIf="enquiryForm.get('email').touched && enquiryForm.get('email').invalid" >
                           <div class="alert-danger1" *ngIf="enquiryForm.get('email').errors.required" >Email Id is required</div>
                           <div class="alert-danger1" *ngIf="enquiryForm.get('email').errors.pattern" >Email must be a valid email address (eg:abc@gmail.com)</div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-group mb-2 form-border">
                        <div class="input-group-prepend">
                           <div class="input-group-text"><i class="fa fa-phone "></i></div>
                        </div>
                        <input [type]="'number'" class="form-control border-none " id="phone" name="mobile" formControlName="phone"  [(ngModel)]="data.phone" placeholder="Enter  Phone No." [ngClass]="{ 'is-invalid': submitted  && g.phone.errors}"    minlength="10" maxlength="10" onKeyPress="if(this.value.length==10) return false;">
                     </div>
                  </div>
                  <div class="input-group mb-2 form-border">
                        <div class="input-group-prepend">
                           <div class="input-group-text"><i class="fa fa-comment"></i></div>
                        </div>
                        <input type="text" class="form-control border-none" id="caseSummary"   formControlName="caseSummary"  [(ngModel)]="data.caseSummary" [ngClass]="{ 'is-invalid': submitted && g.caseSummary.errors}"   placeholder="Case Summary *" required>
                     </div>
                     <div  *ngIf="enquiryForm.get('caseSummary').touched && enquiryForm.get('caseSummary').invalid" >
                           <div class="alert-danger1" *ngIf="enquiryForm.get('caseSummary').errors.required" >Case Summary is required</div>
                  </div>
                  <div class="input-group mb-2 form-border">
                        <div class="input-group-prepend">
                           <div class="input-group-text"><i class="fa fa-file"></i></div>
                        </div>
                        <input name="file" id="file" type="file" formControlName="file" (change)="handleFileInput($event)"  accept="image/*"  [(ngModel)]="data.file">
                    
                     </div>
                  <div class="text-center">
                     <div class="row">
                          <div class="col-12  m-auto">
                              <input type="submit" value="Submit" [disabled]="enquiryForm.invalid"  class="btn btn-global btn-block  py-2">
                          </div>
                     </div>

                  </div>
               </div>
            </div>
            </form>
            <!--Form with header-->
         </div>
      </div>
   </div>
</div>
