
<!--Footer-->
<footer class="footer position-relative">
  <div class="nav-container">
     <div class="row align-items-center">
        <div class="col-lg-2  text-lg-left text-center">
          <a routerLink="/home" class="d-block text-dark">
           <img src="./assets/img/raahi_logo.png" alt="raahi" class="img-fluid footer-logo">
           <!--h1>Raahi</h1-->
          </a>
        </div>
        <div class="m-auto col-lg-8 text-center" >
           <ul class="list-inline  mb-0">
              <li class="list-inline-item mr-0"><a routerLink="/site-map" href="#">Site Map</a></li>
               <li class="list-inline-item mr-0"><a routerLink="/privacy-policy" href="#">Privacy Policy</a></li>
              <li class="list-inline-item"><a routerLink="/terms-of-use" href="#">Terms of Use</a></li>
           </ul>
        </div>
        <div class="col-lg-2"></div>
     </div>
  </div>
  <div class="nav-container mb-4">
     <div class="w-100  m-auto">
        <span class="line">
          <h2><span> 
				<ul class="d-inline-flex social_footer list-inline social_bg mb-0">
				<li class="mr-0"><a href="https://www.facebook.com/raahi/" target="_blank"><i class=" fab fa-facebook"></i> </a></li>
				<li><a href="https://twitter.com/HWCglobalCure" target="_blank"> <i class="fab fa-twitter"></i> </a> </li>
				<li><a href="https://www.instagram.com/raahi/" target="_blank"> <i class="fab fa-instagram"></i>  </a></li>	
				<li><a href="https://www.linkedin.com/company/raahi/" target="_blank"> <i class="fab fa-linkedin"></i> </a></li>
				<li><a href="https://www.youtube.com/channel/UCu7lrKfGWsb92bGeKIvmfmQ" target="_blank"> <i class="fab fa-youtube"></i> </a></li>	
				</ul>	
		   </span>
		   </h2>
        </span>
     </div>
  </div>
  <div class="copyright-area">
     <div class="nav-container">
        <div class="row">
           <div class="col-lg-12">
              <div class="text-center">
                 <p class="qry-copy m-0">Copyright © 2021 <strong>RAAHI</strong>. All rights reserved. Website designed by<a class="text-primary"  href="https://concientotech.com/" target="_blank"> Conciento-Tech</a></p>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
<!--End-->
