<div class="page-heading mb-0" style="background-image:url(./assets/img/page-banner/why-project-global-cure.png)">
<div class="page-overlay"></div>
   <div class="container">
      <div class="page-title ">
         <div class="iw-heading-title">
            <h1>
              Why Us?
            </h1>
         </div>
      </div>
   </div>
</div>
<section class="who-we-are pt-3">
  <div class="nav-container">
      <div class="row align-items-center">
          <div class="col-md-12">
              <div>
                  <h1 class="raleway-font d-none">Why Us</h1>
                  <h1>Transforming Health Globally</h1>
                  <p >
                   <strong>Medical Emergencies</strong>  can be devastating and can turn the life of an individual and their loved ones upside down. The hardest part of life is to choose between coping with life's needs or medical urgency. No one asks for sickness, it just knocks at our door like an uninvited guest. With the changing of the world at a fast pace, drastic climate changes are leading to new <strong>medical emergencies</strong>  as there is a lot to be uncovered on this planet and such <strong>medical emergencies</strong> are like alarming situations in our lives.
                  </p>
                  <p >
                    <strong>RAAHI</strong>  is an encouraging step initiated by 
                     <strong>"Humanity Welfare Council”</strong> in the field of health care to transform the healthcare system and become a helping hand for people struck in .
                  </p>
                  <p >
                   We understand the worsening condition of families managing between the medical expenses and their daily needs. Our team at <strong>RAAHI</strong> wants to be a ray of light for such needy families and stand by them in their hard times supporting them emotionally and financially.
                  </p>
                  <p >
                    We are working on the latest advancements to create a safe and healthy planet for all.
                  </p>
                  <p >
                   What is our monthly subscription plan?
                  </p>
                  <p >
                   With our monthly subscription plan, you can contribute a small share from your income every month into our monthly fund collection. At the time of a <strong> medical emergency</strong>, this fund can be used to support families. By <strong>donating</strong>  a little amount every month you can create a big difference in the lives of people.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="form-me pt-3">
  <div class="nav-container">
      <div class="row align-items-center">
          <div class="col-md-12 col-lg-12">
            <h1>What we do?</h1>
            <p>We are taking the following initiatives for your health:</p>
            <ul class="list-inline list-circle">
              <li>We are creating a contingency fund which will be utilised to save lives of people who are suffering from a deadly medical condition and are unable to pay for treatment.</li>
              <li>Creating easy accessibility to medical services through technical advancement.</li>
              <li>Upgrading of the existing medical system and removing barriers in the healthcare system.</li>
              <li>Creating a transparent system for raising funds for a <strong>medical emergency</strong>  and an easy to reach platform for the needy.</li>
              <li>Connecting medical researchers, government cells, a non-profit organisation, hospitals and other medical institutions under one umbrella to create a better and healthy society.</li>
              <li>Join us to see healthy people creating a healthy planet.</li>
            </ul>
          </div>
      </div>
  </div>
</section>
<app-newsletter></app-newsletter>
