<!--============= Nav Area start here ===============-->
<div class="total-content" id="topnav" [hidden]="display !== true">
    <div class="header-section">
        <!-- navbar -->
        <nav class="navbar navbar-area navbar-expand-lg nav-style-01 nav-absolute page_header navbar-inverse">
            <div class="container nav-container bg-nav">
                <div class="responsive-mobile-menu">
                    <div class="logo">
                        <a routerLink="/" class="text-dark">
                            <img src="./assets/img/raahi_logo.png" alt="logo" class="img-fluid  max-width-logo">
                        </a>
                    </div>
                </div>
                <div class="navbar-toggler  cross-menu" (click)="openNav()">
                    <span class="cross-menu-wrapper">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </span>
                </div>
                <div id="mySidenav" class="sidenav d-block d-lg-none">
                    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li><a (click)="HiddenNav()" routerLinkActive="hactive" routerLink="/">Home</a></li>
                            <li class="dropdown menu-item-has-children">
                                <a class="dropdown-toggle about_us_header" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About Us</a>
                                <ul class="dropdown-menu sub-menu border-0" aria-labelledby="dropdownMenuButton">
                                    <li><a (click)="HiddenNav()" routerLink="/we-are">We Are</a></li>
                                    <li><a (click)="HiddenNav()" routerLink="/what-do-we-do">What do we do?</a></li>
                                    <li><a (click)="HiddenNav()" routerLink="/accountability"> Accountability</a></li>
                                    <li><a (click)="HiddenNav()" routerLink="/why-us">Why Us?</a></li>
                                    <li><a (click)="HiddenNav()" routerLink="/our-process">Our Process</a></li>
                                    <li><a (click)="HiddenNav()" routerLink="/the-team">The Team</a></li>
                                </ul>
                            </li>
                            <li><a (click)="HiddenNav()" routerLinkActive="active" routerLink="/cases"> Medical Cases</a> </li>
                            <li><a (click)="HiddenNav()" routerLinkActive="active" routerLink="/blogs">Blogs</a></li>
                            <li><a (click)="HiddenNav()" routerLinkActive="active" routerLink="/careers">Careers</a></li>
                            <li><a (click)="HiddenNav()" routerLinkActive="active" routerLink="/contact-us">Contact Us</a></li>
                            <li class="dropdown  menu-item-has-children">
                                <a class="dropdown-toggle about_us_header" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accounts</a>
                                <ul class="dropdown-menu  sub-menu border-0" aria-labelledby="dropdownMenuButton">
                                    <li><a *ngIf="!auth.currentUser?.userId" routerLink="/login">Log In</a></li>
                                    <li><a *ngIf="!auth.currentUser?.userId" routerLink="/register">Register</a></li>
                                    <li><a *ngIf="!auth.currentUser?.userId" routerLink="/forgetpassword">Forgot Password</a></li>
                                    <li><a *ngIf="auth.currentUser?.userId" routerLink="/profile">Profile</a></li>
                                    <li><a *ngIf="auth.currentUser?.userId" routerLink="/change-password">Change Password</a></li>
                                    <li><a *ngIf="auth.currentUser?.userId" routerLink="/campaign-list">Campaign List</a></li>
                                    <li><a *ngIf="auth.currentUser?.userId" routerLink="/dashboard">Dashboard</a></li>
                                    <li><a *ngIf="auth.currentUser?.userId" class="cursor" (click)="logout()">Logout</a></li>
                                </ul>
                            </li>
                            <li class="wp-mobile-donate cursor d-lg-none m-auto d-block pl-lg-3 hover-none">
                                <a (click)="HiddenNav()" target="_blank" data-toggle="modal"
                                    data-target="#donateFormOurWokrModal">
                                    <img src="./assets/img/donate.webp" class=" img-fluid" alt="donate-logo">
                                </a>
                            </li>
                            <li class="logo-70 cursor d-lg-inline-block d-none hover-none">
                                <a target="_blank" data-toggle="modal" data-target="#donateFormOurWokrModal">
                                    <img src="./assets/img/donate-black.webp" alt="donate-logo" class="img-fluid ">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="lifeomic_main_menu">
                    <ul class="navbar-nav navbar-nav-header">
                        <li><a class="text-white_home" routerLinkActive="hactive" routerLink="/">Home</a> </li>
                        <li class="dropdown  menu-item-has-children">
                            <a class="dropdown-toggle text-white_home" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu  sub-menu border-0" aria-labelledby="dropdownMenuButton">
                                <li><a routerLink="/we-are">We Are</a></li>
                                <li><a routerLink="/what-do-we-do">What do we do?</a></li>
                                <li><a routerLink="/accountability">Accountability</a></li>
                                <li><a routerLink="/why-us">Why Us?</a></li>
                                <li><a routerLink="/our-process">Our Process</a></li>
                                <li><a routerLink="/the-team">The Team</a></li>
                            </ul>
                        </li>
                        <li><a class="text-white_home" routerLinkActive="active" routerLink="/cases"> Medical Cases</a></li>
                        <li><a class="text-white_home" routerLinkActive="active" routerLink="/blogs">Blogs</a></li>
                        <li><a class="text-white_home" routerLinkActive="active" routerLink="/careers">Careers</a></li>
                        <li><a class="text-white_home" routerLinkActive="active" routerLink="/contact-us">Contact Us</a></li>
                        <li class="dropdown  menu-item-has-children">
                            <a class="dropdown-toggle about_us_header" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu  sub-menu border-0" aria-labelledby="dropdownMenuButton">
                                <li><a *ngIf="!auth.currentUser?.userId" routerLink="/login">Log In</a></li>
                                <li><a *ngIf="!auth.currentUser?.userId" routerLink="/register">Register</a></li>
                                <li><a *ngIf="!auth.currentUser?.userId" routerLink="/forgetpassword">Forgot Password</a></li>
                                <li><a *ngIf="(auth.currentUser?.roles[0] ==  'admin') || (auth.currentUser?.roles[0] == 'superadmin')"  routerLink="/dashboard">Dashboard</a></li>
                                <li><a *ngIf="auth.currentUser?.userId" routerLink="/profile">Profile</a></li>
                                <li><a *ngIf="auth.currentUser?.userId" routerLink="/change-password">Change Password</a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] == 'campaignmanagerteamlead'"  routerLink="/campaign-list">Campaign List</a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] ==  'campaignmanagerteamlead'" routerLink="/campaign-dashboard">Campaign Dashboard </a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] ==  'seoteamlead'"  routerLink="/dashboard-seo">Dashboard SEO</a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] ==  'superadmin'"  routerLink="/blog-list">Blog list</a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] == 'superadmin'"  routerLink="/donor-list">Donor List</a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] ==  'superadmin'"  routerLink="/user-list">User List</a></li>
                                <li><a *ngIf="auth.currentUser?.roles[0] ==  'superadmin'"  routerLink="/volunteer-list">Volunteer List</a></li>
                                <li><a *ngIf="auth.currentUser?.userId" class="cursor" (click)="logout()">Logout</a></li>
                            </ul>
                        </li>
                        <li class="wp-mobile-donate cursor d-lg-none d-block pl-lg-3 hover-none">
                            <a target="_blank" data-toggle="modal" data-target="#donateFormOurWokrModal">
                                <img src="./assets/img/donate.webp" alt="donate-logo" class="img-fluid corsor" />
                            </a>
                        </li>
                        <li class="logo-70 cursor d-lg-inline-block d-none hover-none">
                            <a data-toggle="modal" data-target="#donateFormOurWokrModal">
                                <img src="./assets/img/donate-black.webp" alt="donate-logo" class="img-fluid corsor" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--============= Nav Area End here ===============-->