<div class="page-heading pb-0" style="background-image:url(./assets/img/page-banner/site-map.png);background-position: left;">
 <div class="page-overlay"></div>
   <div class="container">
      <div class="page-title d-none">
         <div class="iw-heading-title">
            <h1>
               Projects
            </h1>
         </div>
      </div>
   </div>
</div>
<section class="my-4">
   <div class="container">
   <div class="row m-auto">
        <div class="col-md-4">
           <ul class="list-inline list-circle site-map-a">
               <li><a   routerLinkActive="hactive" routerLink="/" >Home</a> </li>
               <li><a  routerLinkActive="active" routerLink="/we-are" >We Are</a></li>
               <li><a routerLinkActive="active"  routerLink="/what-do-we-do" >What do we do?</a></li>
              <li><a  routerLinkActive="active" routerLink="/accountability" >Accountability</a></li>
               <li><a  routerLinkActive="active" routerLink="/why-us" >Why Us</a></li>
               <li><a  routerLinkActive="active" routerLink="/medical-cases" >Medical Cases</a> </li>
           </ul>
        </div> 
        <div class="col-md-4">
           <ul class="list-inline list-circle site-map-a">
               <li><a   routerLinkActive="active" routerLink="/the-team" >The Team </a></li>
               <li><a   routerLinkActive="active" routerLink="/careers" >Careers</a></li>
               <li><a routerLinkActive="active" routerLink="/our-process" >Our Process</a></li>
               <li><a   routerLinkActive="active" routerLink="/contact-us" >Contact Us</a></li>
               <li><a routerLinkActive="active" routerLink="/privacy-policy" href="#">Privacy Policy</a></li>
              <li ><a routerLinkActive="active" routerLink="/terms-of-use" href="#">Terms of Use</a></li>

           </ul>
        </div>
   </div>
</div>
</section>

