<!--Privacy And Policay Section-->
<div class="page-heading" style="background-image:url(./assets/img/page-banner/p.jpeg)">
<div class="page-overlay"></div>
   <div class="container">
      <div class="page-title">
         <div class="iw-heading-title">
            <h1 class="text-center">
              Privacy Policy
            </h1>
         </div>
      </div>
   </div>
</div>
<section class="bg-grey">
  <div class="nav-container">
    <p>Your privacy is of utmost importance to us. This privacy statement describes our policy concerning the gathering and sharing of your information through our web site. It applies to all our web sites and links available under the domain name –<strong>"raahi.org"</strong> . </p>
    <h5 class="text_b">What information we collect?</h5>
    <h5 class="text_b">Normal web site usage</h5>
    <p>In general, you can browse our site without sharing your personal information with us. The information we gather during general browsing is from standard server logs. These include your </p>
    <ul class="list-circle list-inline">
      <li>IP (Internet Protocol) address</li>
      <li>Domain name</li>
      <li>Browser type</li>
      <li>Operating System the files you download, the pages you visit, with the dates/times of visits.</li>
    </ul>
    <h5 class="text_b">Collection of personal information </h5>
    <p>If you register for a newsletter, order some request, providing feedbacks, application for job, register for electronic mailing list, discussion with team cure, making contributions, you will be requested to provide personal information such as your name, permanent address and e-mail address.</p>
    <p>This information is only collected with your knowledge and your approval and is kept in our database. While making <strong>donations</strong>  or other contributions, you may be requested to provide financial details. These details are transferred to a secure payment service and we do not retain any such information. </p>
    <p>While registering or supplying personal information on our site may set a cookie. By setting this cookie, we will remember your details so that at your next visit, you don't have to re-enter the information. This helps us to provide you with a better service.</p>
    <p>We will suggest you refrain yourself from sharing personal information as the other participants of the group (including non-team cure members) may have access to your personal information. We will not be liable for any loss incurred by any person on such platforms as such information will be public and we have no control on the usage of such information shared publicly.</p>
    <h5 class="text_b">What we do with the information collected?</h5>
    <h5 class="text_b">Normal web site usage</h5>
    <p>The information gathered during general surfing on our web site <strong>"raahi.org"</strong> is used to analyze trends and our site usage and to improve the performance of our web site and to provide you better experience thereby saving your time and efforts.</p>
    <h5 class="text_b">Personal information</h5>
    <p>We may use your personal information to:</p>
    <ul class="list-inline list-circle">
      <li>Connect with you – to respond to your queries or feedbacks or to mail newsletters, documents, publications etc.;</li>
      <li>To manage and process your job applications;</li>
      <li>Confirm your contributions and registrations on the site;</li>
      <li>To obtain payment for contributions made on the site (via Plastic Money);</li>
      <li>"Remember" your preferences to provide you a better experience;</li>
      <li>To assist you with relevant information based on your personal interests, and help us create the most relevant site content for you;</li>
      <li>In-depth analysis.</li>
    </ul>
    <h5 class="text_b">What will happen if I don't provide personal information?</h5>
    <p>Sharing your personal information with us is your decision and it is optional on our web site. You are free to browse our site without sharing any personal information with us but, doing so may not give you complete access to the services available on the web site of <strong>"raahi.org"</strong></p>
    <h5 class="text_b">What if I want to change my information?</h5>
    <p>You can modify or cancel your information at any point of time by returning to the page where the details were submitted. </p>
    <h5 class="text_b">Security</h5>
    <p>We do not sell or share any personal information to any third party. In certain cases, the information can be provided to the government authorities. We take utmost care to give you a safe and secure experience.  To maintain your privacy, we have taken strict measures to protect your personal information on our systems from loss, misuse, unauthorized access or disclosure, alteration, or destruction.</p>
    <p>All the employees who have access to such information are obliged to respect the confidentiality of such information.</p>
    <h5 class="text_b">Notification of changes</h5>
    <p>Changes to this privacy policy will be posted on the home page at <a class="text-primary  font-weight-500" href="https://web.raahi.org/" target="_blank">www.raahi.org </a></p>
    <h5 class="text_b">Contact</h5>
    <p>For questions or queries regarding this privacy policy, please contact us at <a class="text-primary font-weight-500" href="mailto:connect@raahi.org">connect@raahi.org </a></p>
    <h5 class="text_b">Cookies </h5>
    <p>To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user's individual interests using the Identified Computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply (an example of this is when you ask for our Personalized Horoscope). A cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies to your browser (if you click on their ads), a process that we do not control</p>
    <p>Our web servers automatically collect limited information about your computer's connection to the Internet, including your IP address, when you visit our site. (Your IP address is a number that lets computers attached to the Internet know where to send you data -- such as the web pages you view.) Your IP address does not identify you personally. We use this information to deliver our web pages to you upon request, to tailor our site to the interests of our users, to measure traffic within our site and let advertisers know the geographic locations from where our visitors come.</p>
  </div>
</section>
