@font-face {
  font-family:'Jokerman';
  src:url("https://web.raahi.org/fonts/Jokerman.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Mistral';
  src:url("https://web.raahi.org/fonts/Mistral.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}