<ngx-slick-carousel *ngIf="relatedStoriesData" class=" case-slider slick-slide-100_0" #slickModal="slick-carousel"
    [config]="slideConfig" (init)="slickInit($event)">
    <div ngxSlickItem *ngFor="let story of relatedStoriesData" class="col-xl-4 col-lg-6">
        <div class="">
            <div class="case-item-slider ">
                <div class="case-item-p">
                    <div class="img-warpper">
                        <a routerLink="/cases/{{story?.slug}}">
                            <img src="{{story?.featuredimage}}" alt="{{story?.slug}}" class="img-fluid blr">
                        </a>
                    </div>
                    <div class="content-wrap">
                        <h6 class=" title">
                            {{story?.title}}
                        </h6>
                       <p [innerHTML]="getDescriptionsData(story?.story)"></p> 
                        <a routerLink="/cases/{{story?.slug}}" class="text-primary opacity-1  font-weight-bold">Read More</a>
                        <!-- <div class="position-relative  our-project-donate mt-3  text-center">
                            <a data-toggle="modal" [attr.data-target]="case.modal" target="_blank"
                                class="donate-button">Donate Now
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel>