<div class="page-heading mb-0" style="background-image:url(./assets/img/page-banner/career.png)">
<div class="page-overlay"></div>
   <div class="container">
      <div class="page-title">
         <div class="iw-heading-title">
            <h1>
               Careers
            </h1>
         </div>
      </div>
   </div>
</div>
<section class="mb-4 pt-4">
  <div class="nav-container">
    <h1>Expand your horizon and grow beyond your limits</h1>
     <p>Internship Program  to freshers to kick start their career by enhancing their skills with us. They polish their skill set and serve the society at once. We have vacancies for following-</p>
      <ul class="list-inline list-circle">
        <li>Social work graduates</li>
        <li>Medical students</li>
        <li>Journalism students</li>
        <li> Volunteers from other fields</li>
      </ul>
      <p>
        We are  thankful to "Internease" for the support extended to <strong>RAAHI</strong>  and to bridge the gap between interns and  <strong>RAAHI</strong>.
      </p>  
  </div>
</section>
<section class="who-we-are py-3 mb-3">
  <div class="nav-container">
     <div class="row">
        <div class="col-12 text-center_0">
          <h1 class="text-capitalize position-relative pb-2 bb-career_0"><span class="text-primary_0"> Official  Internship </span> And  Training Partner</h1>
        </div>
     </div>
      <div class="row align-items-center">
          <div class="col-md-7">
            <p class="text-justify">
              Internease is a modern platform for the students where they get an opportunity to showcase their skills and to learn skills necessary for their career growth. Internships are good opportunities for students to learn and develop themselves. Through Internships students can also get a good assessment about themselves and about the corporate world. We are very thankful to "Internease" for the support extended to <strong>RAAHI</strong> and to bridge the gap between interns and   <strong>RAAHI</strong> .
            </p>
          </div>
          <div class="col-md-5 text-center">
                <img src="./assets/img/career/partner-logo.png" alt="partner-logo" class="img-fluid   intershala-img">
          </div>
      </div>
  </div>
</section>
<section class="who-we-are py-3">
  <div class="nav-container">
     <div class="row">
        <div class="col-12 text-center_0">
          <h1 class="text-capitalize pb-2 position-relative bb-career_0"> 
            Official hiring partner CRML
          </h1>
        </div>
     </div>
      <div class="row  align-items-center">
          <div class="col-md-7">
            <p class="text-justify">
              Conciento Resource Management has attained a distinctive position as one of the best human resource management companys providing all kinds of HR solutions. We offers HR Audit Facilities and Policy creation services to all kinds of Multinational corporates along with staffing and manpower recruitment services. We also have the expertise of consolidating Campus Recruitment drives for various sectors across the country. Our experts have a wide first-hand practice of working in prominent private, public, and top MNCs.
            </p>
          </div>
          <div class="col-md-5 text-center">
                <img src="./assets/img/career/crm.png" alt="crm" class="img-fluid  intershala-img-hrm">
          </div>
      </div>
  </div>
</section>
<section class="client-testimonail pt-3 position-relative">
  <div class="nav-container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="raleway-font text-capitalize position-relative bb-career_0 mb-3"><span class="text-primary_0">Employee </span> Testimonials </h1>
      </div>
   </div>
    <div class="client-slider">
          <div class="client-slider-item">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <img src="./assets/img/career/client_team_1.png" alt="client-img" class="img-fluid client-img">
              </div>
              <div class="col-lg-7 mr-auto">
                  <div class="w-75_0">
                      <p class="quotes-img font-15 l-h-25  text-left">
                        I am glad to be a part of the <strong>RAAHI</strong>. This was the most precious time of my life where I connected to people and felt their sufferings. It was a learning experience along with working for a noble cause. I learnt a lot in this span of time. This project taught me a way of life.
                      </p>
                  </div>
                  <h3 class="client-t-h">Surya Anjitha Chennamsetty</h3>
                  <h6 class="text-primary_0">Marketing Intern</h6>
              </div>
           </div>
          </div>
            <div class="client-slider-item">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <img src="./assets/img/career/client_team_3.png" alt="client_team_3" class="img-fluid client-img ">
              </div>
              <div class="col-lg-7 mr-auto">
                  <div class="w-75_0">
                      <p class="quotes-img l-h-25  text-left">Before joining this noble project my world was just limited to my worldly pleasures. Becoming a volunteer for the 
                        <strong>RAAHI</strong> I saw another side of life. I saw the suffering of people and their condition turning them helpless. I felt deep satisfaction becoming a helping hand for these needy people. Along the way, I gained experience and skills.</p>
                  </div>
                  <h3 class="client-t-h">Rhea Sethi</h3>
                  <h6 class="text-primary_0">Campus Ambassador Intern</h6>
              </div>
           </div>
          </div>
          <div class="client-slider-item">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <img src="./assets/img/career/client_team_2.png" class="img-fluid client-img">
              </div>
              <div class="col-lg-7 mr-auto">
                  <div class="w-75_0">
                      <p class="quotes-img l-h-25  text-left">Working here we utilized a unique combination of social work, marketing and social media skills to successfully broaden the work applicability and served as a major decision-maker in all strategic planning. This project is an honest, organized, responsible and reliable effort to help people in an emergency situation. I am now a more confident individual with stronger work ethic and a positive attitude. This project taught me a new way of life.</p>
                  </div>
                  <h3 class="client-t-h">Tania Surana</h3>
                  <h6 class="text-primary_0">Marketing Intern</h6>
              </div>
           </div>
          </div>
        
          <div class="client-slider-item">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <img src="./assets/img/career/client_team_4.png" alt="client_team_4" class="img-fluid client-img  ">
              </div>
              <div class="col-lg-7 mr-auto">
                  <div class="w-75_0">
                      <p  class="quotes-img  l-h-25  text-left">I got an opportunity to work with the <strong>RAAHI</strong> with a mindset of serving community. After joining I realised that this project serves a much bigger purpose.Through this project I understood the sufferings of people. People struggling for life with serious medical conditions and their families feeling financially paralysed. Being a part of the <strong>RAAHI</strong> I felt accomplished helping such families and being the ray of light for them. I learnt to deal with real life crisis. This project gave a new direction to my life.</p>
                  </div>
                  <h3 class="client-t-h">Krishna Rajendra Turkane </h3>
                  <h6 class="text-primary_0">Business Development Intern</h6>
              </div>
           </div>
          </div>
      </div>
      </div>
</section>
<app-newsletter></app-newsletter>