<div class="d-flex" style="background-color:#f1f5f8">
	<div class="col-lg-3 p-4">
		<app-left-side></app-left-side>
	</div>
	<div class="col-lg-9 p-4">
		<div class="shadow-lg rounded-lg bg-white p-4">
				<h5 class="text-primary">Add Blog</h5>			
				<form>
				<div class="row">
					<div class="col-lg-6">
						 <div class="form-group">
						    <label for="text">Title</label>
						    <input type="text" class="form-control bg-light" placeholder="Title" id="title">
						  </div>
					</div>
					<div class="col-lg-6">
						 <div class="form-group">
						    <label for="file">Image File</label>
						    <input type="file" class="form-control bg-light" placeholder="File" id="file">
						  </div>
					</div>
					<div class="col-lg-12">
						 <div class="form-group">
						    <label for="text">Description</label>
						   <textarea rows="4" class="form-control border-0 bg-light" placeholder="Description Here"></textarea>
						  </div>
					</div>
					<div class="col-lg-12">
				         <button type="submit" class="btn btn-main text-center m-auto mt-4">Submit</button>
					</div>
				</div>
			</form>	
		</div>			
	</div>	
</div>