.btn-main{
	border-radius: 40px; 
	background: #a42a6a; 
	color: #fff;
    margin-top: 30px;
    padding: 10px 40px;
}
.form-control{
	border: 0;
}
.bg-header{
	background: #a42a6a; 
}
.arrow-l {
    font-size: 25px;
    display: block;
    text-align: right;
}