.no-fees {
    background: #eee7e7;
    height: 70px;
    border-left: 4px solid #000;
    border-radius: 0 8px 8px 0;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-image: -webkit-gradient(linear,right top,left top,from(#fff),to(rgba(247,230,234,.670588)));
    background-image: linear-gradient(
270deg
,#fff,rgba(247,230,234,.670588))
}
.section-cta-boxed {
    padding: 1.5rem;
    border: 2px solid #d82138;
    border-radius:8px;
    background: #f3ebebfa;
    box-shadow: 0px 2px 6px 0px rgb(75 85 110 / 10%);
}
.section-cta  .icon svg {
    font-size: 1.75rem;
    width:60px;
    flex-shrink: 0;
    color: #8cb2ff;
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}
