<!--============= Banner Section start here ===============-->
<section class="showcase-area">
   <div class="showcase-main" >
      <div class="nav-container_0 nav-md-0">
         <div class="content-part">
            <div class="showcase1-slider">
                <ngx-slick-carousel  #slickModal="slick-carousel"
                  [config]="slideConfig" (init)="slickInit($event)">
                  <div ngxSlickItem *ngFor="let h of hsliders" class="hsliders">
                        <div class="showcase1-slider-item slick-slide-img-1_00" >
                        <div class="row align-items-center flex-lg-row-reverse">
                           <div class="col-xl-6 col-lg-6 text-center z-index-9 text-lg-left">
                              <h1 class="pt-3 pb-3 text-left px-lg-4 barlow-font covid-heading">
                                {{h.title}}
                              </h1>
                           </div>
                           <div class="col-xl-6  col-lg-6">
                              <img src="./assets/img/sliders/{{h.wimage}}" alt="{{h.title}}" class="d-lg-block d-none  bg-img-slider {{h.r_zero}}">
                              <img src="./assets/img/sliders/{{h.mimage}}" alt="{{h.title}}" class="d-lg-none  d-block  bg-img-slider">
                           </div>
                        </div>
                     </div>
                  </div>
               </ngx-slick-carousel>
            </div>
         </div>
         <section class="services_cure pr-3 d-none  mt-lg-0 d-lg-block">
            <div class="nav-container">
               <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="counter p-3 col-lg-6">
                     <div class="row">
                        <div class="col-6 col-sm-3 border-right">
                           <div class=" pb-3 text-center">
                              <img src="./assets/img/c-1.webp" alt="supporters" class="img-fluid wp-50  mb-2" />
                               <h4 class="count-number plus">9000</h4>
                              <h5>Supporters</h5>
                           </div>
                        </div>
                        <div class="col-6 col-sm-3 border-right">
                           <div class=" text-center">
                              <img src="./assets/img/c-2.webp" alt="Connected people" class="img-fluid  wp-50 mb-2" />
                              <h4 class="count-number plus">4000</h4>
                              <h5>Connected  People</h5>
                           </div>
                        </div>
                        <div class="col-6 col-sm-3 border-right">
                           <div class="text-center">
                              <img src="./assets/img/c-4.webp"  alt="states & UT" class="img-fluid wp-50  mb-2 p-2" />
                              <h4 class="count-number plus">28</h4>
                              <h5>States & UT</h5>
                           </div>
                        </div>
                        <div class="col-6 col-sm-3">
                           <div class="text-center">
                              <img src="./assets/img/c-3.webp" alt="Partners" class="img-fluid wp-50 mb-2" />
                              <h4 class="count-number plus">50</h4>
                              <h5>Partners</h5>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
</section>
<section class="services_cure p-3 d-block mt-lg-5 mt-lg-0 d-lg-none">
   <div class="nav-container">
      <div class="row">
         <div class="counter p-3 col-lg-6">
            <div class="row">
               <div class="col-6 col-sm-3">
                  <div class="border-right text-center">
                     <img src="./assets/img/c-1.webp" alt="supporters" class="img-fluid wp-50  mb-2" />
                     <h4 class="count-number plus">9000</h4>
                     <h5>Supporters</h5>
                  </div>
               </div>
               <div class="col-6 col-sm-3">
                  <div class="border-right text-center">
                     <img src="./assets/img/c-2.webp" alt="Connected people" class="img-fluid  wp-50 mb-2" />
                     <h4 class="count-number plus">4000</h4>
                     <h5>Connected  People</h5>
                  </div>
               </div>
               <div class="col-6 col-sm-3">
                  <div class="border-right text-center">
                     <img src="./assets/img/c-4.webp" alt="states & UT" class="img-fluid wp-50 mb-2 p-2" />
                      <h4 class="count-number plus">28</h4>
                     <h5>States & UT</h5>
                  </div>
               </div>
               <div class="col-6 col-sm-3">
                  <div class="text-center">
                     <img src="./assets/img/c-3.webp" alt="Partners" class="img-fluid wp-50 mb-2" />
                     <h4 class="count-number plus">50</h4>
                     <h5>Partners</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Medical Cases-->
<section class="medical-cases  position-relative">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center mb-4 mt-4">
            <h1 class=""><span class="text-primary_0">Medical Cases</span></h1>
         </div>
      </div>
    <ngx-slick-carousel class="row-eq-height case-slider slick-slide-100_0" #slickModal="slick-carousel"
      [config]="slideConfigCases" (init)="slickInit($event)">
      <div ngxSlickItem *ngFor="let case of stories" class="col-xl-4 col-lg-6">
         <div class="">
            <div class="case-item-slider ">
               <div class="case-item-p">
                  <div class="img-warpper">
                      <a routerLink="/cases/{{case?.slug}}"> 
                       <img src="{{case?.featuredimage}}" alt="cases" class="img-fluid blr">
                      </a>
                  </div>
                  <div class="content-wrap">
                  <h6 ass="title">
                   {{case?.title}}
                  </h6>
                  <p [innerHTML]="getDescriptionsData(case?.story)"></p>
                  <a   routerLink="/cases/{{case?.slug}}" class="text-primary opacity-1  font-weight-bold">Read More</a>
                  <div class="position-relative  our-project-donate mt-3  text-center">
                     <a  data-toggle="modal" [attr.data-target]="case.modal"  target="_blank" class="donate-button">Donate Now
                     </a>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </ngx-slick-carousel> 
   </div>
   <a routerLink="/cases" class="text-center font-weight-bold text-primary d-block">See More Cases</a>
</section>
<!--End Medical Cases-->
<!--Why RAAHI-->
<section class="team-section mb-0 mt-5">
   <div class="pl-lg-5">
      <div class="nav-container project-cure py-4">
         <div class="row align-items-center">
            <div class="mb-4 mb-sm-0 text-center col-lg-3">
               <img src="./assets/img/project_cure.webp" alt="projects Cure" class="img-fluid  max-width-295">
            </div>
            <div class="col-lg-8 ml-lg-5">
               <h1 class="  mb-4">Why Us?</h1>
               <p class="barlow-font  font-weight-500">
                 <strong>Medical Emergencies</strong>   can be devastating and can turn the life of an individual and their loved ones upside down. The hardest part of life is to choose between coping with life's needs or medical urgency. No one asks for sickness, it just knocks at our door like an uninvited guest. With the changing of the world at a fast pace, drastic climate changes are leading to new <strong>medical emergencies</strong>  as there is a lot to be uncovered on this planet. And such <strong>medical emergencies</strong> are like alarming situations in our lives.
               </p>
               <a class="text-primary font-weight-500 text-decoration-none" href="#" routerLink="/why-us">Read More</a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="pt-5">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center ">
            <h1 class="mb-5 "><span class="text-primary_0">Our Process</span> is Simple, Fast and Transparent</h1>
         </div>
      </div>
      
      <div class="row_0 w-home-94 text-center">
         <div class="col-12_0">
            <img src="./assets/img/cure-process-raahi.png" alt="cure-process" class="img-fluid m-auto">
         </div>
      </div>
     
   </div>
</section>
<!--End Process--->
<!--Our Support-->
<section class="support">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h1 class="mb-5 text-center "><span class="text-primary_0"></span> Our commitment</h1>
         </div>
      </div>
      <div class="row_0 w-home-94 text-center">
         <div class="col-10_0">
            <img src="./assets/img/our_support_content.webp" alt="our_support_content" class="img-fluid our-s-img m-auto">
         </div>
      </div>
     </div>
</section>
<!--End Our Support-->
<!--Impact-->
<section class="impact_map_0 mb-4">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <h1 class=""><span class="text-primary_0">We have Raised</span></h1>
            <h3 class=" ">INR 8,000,000+  from 9000+ supporters</h3>
         </div>
      </div>
   </div>
</section>
<!--End-->
<!--About Section-->
<section class="mt-lg-5 mt-3">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <h1 class=""><span class="text-primary_0">About</span> Us</h1>
         </div>
      </div>
   </div>
   <div class="about mb-5 mt-lg-5 mt-3">
      <div class="nav-container py-4">
         <div class="row align-items-center">
            <div class="col-lg-9">
               <h1 class="pb-2 ">We Are </h1>
               <p class="">
               Transforming our health system and making medical care available for every citizen without the burden of extra cost. As it is a basic need, not a luxury, so everyone should have access to proper medical care.
               <p>
               <p><strong>RAAHI</strong>  is an initiative taken by the <strong>"Humanity Welfare Council"</strong>  where we aim to transform the health care sector globally by providing necessary funds to people in urgent need of medical assistance and bringing advancement in the medical system with increased accessibility.</p>
               <a href="#" routerLink="/we-are" class="text-primary font-weight-bold">Read More</a>
            </div>
            <div class="mb-4 mb-lg-0 text-center  m-auto col-lg-2">
               <img src="./assets/img/hwc-logo.webp" alt="hwc-logo" class="img-fluid max-width-185">
            </div>
         </div>
      </div>
   </div>
</section>
<!--End About Section-->
<section class="newsletter footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
  <div class="content">
    <h1>Newsletter</h1>
    <p>Signup for our monthly newsletter to get the latest news</p>
  <form  name="newsletterForm" [formGroup]="newsletterForm"   method="post" role="form" (ngSubmit)="onSubmitNewsletterForm()">
  <div class="input-group">
    <input type="email"    name="email" id="email"  formControlName="email"  [(ngModel)]="data.email" class="form-control" placeholder="Enter Your Email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" required>
      <span class="input-group-btn">
      <button class="btn cursor" type="submit" [disabled]="newsletterForm.invalid">
        Subscribe
      </button>
  </span>
  <div *ngIf="f.email.touched && f.email.errors" class="text-left invalid-feedback">
          <div *ngIf="f.email.errors.required">Email Name is required</div>
          <div *ngIf="f.email.errors.pattern">Email must be a valid email address (eg:abc@gmail.com)</div>
    </div>
 </div>
 </form>
  </div>
</div>
</div>
</div>
</section>