<div class="page-heading">
    <div class="page-overlay"></div>
    <div class="container">
        <div class="page-title">
            <div class="iw-heading-title"><h1>Contact Us</h1></div>
        </div>
    </div>
</div>
<section class="position-relative contact-bottom-bg">
    <div class="nav-container">
        <div class="row">
            <div class="col-sm-12">
                <form class="contact-form bg-white shadow rounded pl-4 pr-4 my-3" [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
                    <header class="form-head pt-3">
                        <h1 class="barlow-font bb-h-2">General Enquiries</h1>
                        <p class="pb-3 pt-2">Thank you for your interest in <strong>RAAHI</strong>. Whatever your enquiries, please use the form below.</p>
                    </header>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4  form-group">
                            <label>Name *</label><br>
                            <input formControlName="name" class="form-control" [ngClass]="{'is-invalid':f.name.touched &&  f.name.errors}" type="text"/>
                            
                            <div *ngIf="f.name.touched &&  f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">First Name is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4  form-group">
                            <label>Phone</label>
                            <br>
                            <input type="tel" id="phone" formControlName="phonenumber" class="form-control" (keypress)="numericOnly($event)" [ngClass]="{ 'is-invalid': f.phonenumber.touched && f.phonenumber.errors}"/>
                            <div *ngIf="f.phonenumber.touched && f.phonenumber.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.phonenumber.errors.required">Phone is required.</div>
                                <div *ngIf="(f.phonenumber.hasError('maxlength') || f.phonenumber.hasError('minlength')) && !f.phonenumber.hasError('required')">Please enter a valid phone number.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4  form-group">
                            <label>Address*</label>
                            <br>
                            <input name="address" formControlName="address" class="form-control" type="text"/>
                        </div>
                        <div class="col-sm-6 col-lg-4  form-group">
                            <label>Email *</label>
                            <br>
                            <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors}" class="form-control"/>
                            <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required.</div>
                                <div *ngIf="f.email.hasError('pattern') && !f.email.hasError('required')">Please enter a valid email.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 form-group">
                            <label>Country * </label>
                            <br>
                            <span class="country">
                                <select class="form-control" formControlName="country" [ngClass]="{ 'is-invalid': f.country.touched  && f.country.errors}">
                                    <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
                                </select>
                                <div *ngIf="f.country.touched  && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors.required">Country Name is required.</div>
                                </div>
                            </span>
                        </div>
                        <div class="col-sm-6 col-lg-4  form-group">
                            <label>Subject *</label>
                            <br>
                            <input type="text" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': f.subject.touched && f.subject.errors}"/>
                            <div *ngIf="f.subject.touched && f.subject.errors" class="invalid-feedback">
                                <div *ngIf="f.subject.errors.required">Subject is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 form-group">
                            <label>Your query (limited to 1,000 characters)*</label>
                            <br>
                            <textarea formControlName="description" cols="4" rows="5" class="form-control" [ngClass]="{ 'is-invalid': f.description.touched && f.description.errors}"></textarea>
                            <span class="help-txt" [class.err]="f.description.value.length > 1000">{{ 1000 - f.description.value.length }} characters remaining</span>
                            <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Description is required.</div>
                                <div *ngIf="f.description.hasError('maxlength') && !f.description.hasError('required')">Max 1000 characters allowed.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center mt-4 mb-3">
                            <button type="submit" [disabled]="contactForm.invalid" class="btn btn-donate">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="contact-info my-3">
    <div class="nav-container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="font-weight-600">Head Office</h4>
                <address>
                    <p>
                        <span class="font-weight-600">Humanity Welfare Council</span><br>
                        <span class="font-weight-600">(RAAHI)</span><br>
                        C/O Stirring Minds, <span class="barlow-font my-2">2-A/3</span>, 
                        Kundan Mansion Asaf Ali
                        <br> Road, New Delhi - <span class="barlow-font mt-2">110002</span>
                        <br>Email: <a class="text-primary barlow-font" target="_blank" href="mailto:connect@raahi.org">connect@raahi.org</a>
                        <br><br>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn" style="background-color: #f0e7e9;font-size:14px"
                            data-toggle="modal" data-target=".bd-example-modal-lg">View Map</button>
                    </p>
                </address>
            </div>
            <div class="col-md-4">
                <h4 class="font-weight-600">Project Partner</h4>
                <address>
                    <p>
                        <span class="font-weight-600">Amritam Wellness and Research Centre</span>
                        <br>Village-Katapatthar, 
                        <br> Tehsil-Vikas Nagar, 
                        <br> District-Dehradun, <br>
                        Uttarakhand – <span class="barlow-font mt-2">248198</span><br><br>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn" style="background-color: #f0e7e9;font-size:14px"
                            data-toggle="modal" data-target=".bd-example-modal-lg1">View Map</button>
                    </p>
                </address>
            </div>
            <div class="col-md-4">
                <h4 class="font-weight-600">For Career opportunities write to us at:</h4>
                <address>
                    <p>
                        Email: <a class="text-primary barlow-font" target="_blank" href="mailto:hr@raahi.org">hr@raahi.org</a><br>
                        <br>
                    </p>
                </address>
            </div>
        </div>
    </div>
</section>
<!--About Section-->
<!--End About Section-->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    C/O Stirring Minds, 2-A/3,
                    Kundan Mansion Asaf Ali
                    Road, New Delhi - 110002
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.5927396664106!2d77.23089541492358!3d28.641965682414124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd2474cfd531%3A0x5b77fe360cb0aa67!2sStirring%20Minds!5e0!3m2!1sen!2sin!4v1612238422680!5m2!1sen!2sin"
                    style="border:0; width: 100%; height:280px;" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Amritam Wellness and Research Centre
                    Village-Katapatthar,
                    Tehsil-Vikas Nagar,
                    District-Dehradun,
                    Uttarakhand – 248198</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3437.2762412135166!2d77.85907031496991!3d30.51322698171423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f3274e8924d99%3A0x325aeafbea2a577d!2sAmritam%20Wellness%20and%20Research%20Centre!5e0!3m2!1sen!2sin!4v1612239918386!5m2!1sen!2sin"
                    frameborder="0" style="border:0; width:100%; height:280px;" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<app-newsletter></app-newsletter>