.form-border-top{border-top:6px solid #e79597}
.validators-astric{color: #d82138; font-weight:bold;}
.live-events-section{background-color: #f3f9f5; width: 100%;}
.display-inline{display: flex;}
.display-inline label{padding-left: 5px; margin-top: -2px;}
