<a class="socail-share-link" *ngIf="type === 'twitter'" (click)="share()">
    <img src="./assets/img/social/9.png" />
</a>
<a class="socail-share-link" *ngIf="type === 'facebook'" (click)="share()">
    <img src="./assets/img/social/10.png" />
</a>
<a class="socail-share-link" *ngIf="type === 'instagram'" (click)="share()">
    <img src="./assets/img/social/intsagram.png" />
</a>
<a class="socail-share-link" *ngIf="type === 'linkedin'" (click)="share()">
    <img src="./assets/img/social/linkedin@4x.png" />
</a>