<div class="d-flex" style="background-color:#f1f5f8">
   <div class="col-lg-3 p-4">
      <app-left-side></app-left-side>
   </div>
   <div class="col-lg-9 p-4">
        <div class="row">
            <div class="col-lg-6 text-left">
                <h5>Active Story</h5>
            </div>
            <div class="col-lg-6 text-lg-right">
                <a class="text-primary text-underline cursor" (click)="showAddModal(content)">+ Add New Story</a>
            </div>
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead class="bg-header_t text-primary">
                        <tr>
                            <th class="serial">S.No</th>
                            <th class="title">Title</th>
                            <th class="category">Category</th>
                            <th class="actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of stories.list; let i = index" [class.deleted]="item.status == 'deleted'">
                            <td class="serial"> {{ i+1 }} </td>
                            <td class="title"> {{ item.title }} </td>
                            <td class="category"> {{ item.categoryname }} </td>
                            <td class="actions">
                                <span *ngIf="item.status != 'deleted'">
                                    <i class="icon-feather-edit text-primary mr-2 cursor" (click)="showEdit(content, item)"></i>
                                    <i class="icon-feather-trash-2 cursor text-primary" (click)="confirmDel(delConf, item)"></i>
                                </span>
                                <span *ngIf="item.status == 'deleted'">Deleted</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2 my-pag">
                    <ngb-pagination [collectionSize]="stories.options.total" [pageSize]="stories.options.limit" [(page)]="stories.options.pageno" [maxSize]="5" [rotate]="true" (pageChange)="onPagination($event)"></ngb-pagination>
                    <select class="custom-select pagination" [(ngModel)]="stories.options.limit" (ngModelChange)="setPageSize()">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-content shadow-lg mb-3">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <h6>{{ action}} Story</h6>
                </div>
                <div class="col-lg-6 text-lg-right" (click)="modal.dismiss()">
                    <i aria-label="Close" class="icon-feather-x cursor text-primary"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="form-step-header">
                    <div class="step" [class.active]="step == 1">
                        <span class="step-circle">1</span>
                        <span class="step-label">Story Title</span>
                    </div>
                    <div class="line"></div>
                    <div class="step" [class.active]="step == 2">
                        <span class="step-circle">2</span>
                        <span class="step-label">Story Body</span>
                    </div>
                </div>
                <form class="p-0" [formGroup]="storyForm">
                    <div class="content" [hidden]="step != 1">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Title *</label>
                                    <input (change)="updateSlug()" type="text" formControlName="title" class="form-control bg-light" placeholder="Title*" />
                                    <div *ngIf="errStep1 && f.title.errors" class="invalid-feedback">
                                        <div *ngIf="f.title.errors.required">Title is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Name *</label>
                                    <input (change)="updateSlug()" type="text" formControlName="name" class="form-control bg-light" placeholder="Name*" />
                                    <div *ngIf="errStep1 && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Category *</label>
                                    <select formControlName="categoryid" class="form-control bg-light">
                                        <option *ngFor="let cat of categories" [value]="cat.categoryid"> {{ cat.title }} </option>
                                    </select>
                                    <div *ngIf="errStep1 && f.categoryid.errors" class="invalid-feedback">
                                        <div *ngIf="f.categoryid.errors.required">Category is required.</div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Slug *</label>
                                    <input type="text" formControlName="slug" class="form-control bg-light" placeholder="Slug*" />
                                    <div *ngIf="errStep1 && f.slug.errors" class="invalid-feedback">
                                        <div *ngIf="f.slug.errors.required">Slug is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="next()" class="btn btn-main">Next</button>
                    </div>
                    <div class="content" [hidden]="step != 2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <file-upload label="Featured Image" requiredFileType="image/*" [placeholderImg]="temp?.featuredimage" (fileSelected)="handleInputChange($event)"></file-upload>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="text">Description</label>
                                    <angular-editor formControlName="description" [placeholder]="'Enter text here...'" [config]="config.editorConfig"></angular-editor>
                                    <div *ngIf="errStep2 && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">Description is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>YouTube URL</label>
                                    <input type="text" formControlName="youtubeurl" class="form-control bg-light" />
                                    <div *ngIf="errStep2 && f.youtubeurl.errors" class="invalid-feedback">
                                        <div *ngIf="f.youtubeurl.errors.pattern">Please enter a valid URL.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Target Date</label>
                                    <input class="form-control bg-light" [readonly]="true" formControlName="targetdate" ngbDatepicker #dp="ngbDatepicker" [minDate]="mnDate" [maxDate]="mxDate" />
                                    <button class="btn btn-link calendar" (click)="dp.toggle()" type="button"></button>
                                    <div *ngIf="errStep2 && f.targetdate.errors" class="invalid-feedback">
                                        Target date is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Target Amount</label>
                                    <input type="number" formControlName="targetamount" class="form-control bg-light target-amt" />
                                    <select formControlName="targetcurrency" class="form-control bg-light target-currency">
                                        <option value="INR">INR</option>
                                        <option value="USD">USD</option>
                                    </select>
                                    <div *ngIf="errStep2 && f.targetamount.errors" class="invalid-feedback">
                                        <div *ngIf="f.targetamount.errors.required">Amount is required.</div>
                                        <div *ngIf="f.targetamount.errors.min">Amount must be greater than 100.</div>
                                    </div>
                                    <div *ngIf="errStep2 && f.targetcurrency.errors" class="invalid-feedback">
                                        <div *ngIf="f.targetcurrency.errors.required">Currency is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button class="btn btn-main mr-3" (click)="previous()">Previous</button>
                            <button class="btn btn-main" (click)="submitModal(modal)">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #delConf let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Delete Story</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete this story?</strong></p>
        <p>All information associated to this story will be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="delStory(modal)">Ok</button>
    </div>
</ng-template>