.btn-main{
    border-radius: 40px; 
    background: #a42a6a; 
    color: #fff;
    margin-top: 30px;
    padding: 10px 40px;
}
.form-control{
    border: 0;
}
/* Form Step Header CSS starts - @Author: Akhilesh */
.form-step-header {
    align-items: center;
    display: flex;
}
.form-step-header .line {
    background-color: rgba(0,0,0,.12);
    flex: 1 0 32px;
    margin: auto;
    min-height: 1px;
    min-width: 1px;
}
.form-step-header .step {
    align-items: center;
    background-color: initial;
    border: none;
    border-radius: .25rem;
    color: #6c757d;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.5;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color .15s ease-out,color .15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.form-step-header .step span.step-circle {
    align-content: center;
    background-color: #6c757d;
    border-radius: 1em;
    color: #fff;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1em;
    margin: .25rem;
    padding: .5em 0;
    width: 2em;
}

.form-step-header .step.active span.step-circle {
    background-color: #007bff !important;
}

.form-step-header .step span.step-label {
    display: inline-block;
    margin: .25rem;
}
/* Form Step Header CSS ends here */
.deleted {
    opacity: 0.6;
}

.deleted .title {
    text-decoration: line-through;
}

.actions {
    text-align: center;
}

tr {
    text-align: center;
}

tr .title {
    text-align: left;
}

.target-amt {
    padding-left: 100px;
}

.target-currency {
    width: 75px;
    position: absolute;
    top: 32px;
}

button.btn.calendar {
    position: absolute;
    top: 30px;
    right: 15px;
    border: none;
    height: calc(1.5em + .75rem + 2px);
}

.keywords label > span {
    background: #e5e5e5;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}