.app-loading .logo {
    width: 100px;
    height: 100px;
    margin: 0;
    /* this way asset gets processed by webpack */
    background: url(assets/img/logo.png) center center / 100% 100% no-repeat;
}