@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('assets/css/bootstrap.min.css');
@import url('assets/css/slick.css');
@import url('assets/css/slick-theme.css');
@import url('assets/fonts/flaticon.css');
@import url('assets/fonts/icons.css');
html { scroll-behavior: smooth !important; 
	width: 100%
}
body {
  background: #fdfdfd;
  width: 100%;
  font-family: 'Barlow';
  color: #000;
}

button:focus {
  outline: none;
  box-shadow: none;
}
input .form-control:focus {
  outline: none;
  box-shadow: none;
}
.text-primary {
	color: #632494 !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Barlow';
}
a.text-primary:focus, a.text-primary:hover {
    color: #ff00b4 !important;
	outline:none;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    text-underline-offset: none;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    text-underline-offset: none;
}

/*end footer*/

/* Guest Page background class @author: Akhilesh */
.guest-bg {
  background-image: url(./assets/img/Admin-login/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*End about*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-invalid~.invalid-feedback {
  display: block !important;
}

.custom-select.pagination {
  width: auto; 
  padding-left: 5px;
}

.my-pag.d-flex[hidden] {
  display: none !important;
}
.cursor{
	cursor: pointer;
}

/* Start: Bootstrap overriding colors to match our color scheme */
.page-item.active .page-link {
  color: #fff !important;
  background-color: #632494 !important;
  border-color: #632494 !important;
}
.page-link {
  color: #632494 !important;
}
/* End: Bootstrap overriding colors to match our color scheme */