<div class="page-heading mb-0" style="background-image:url(./assets/img/page-banner/accountability.png)">
<div class="page-overlay"></div>
   <div class="container">
      <div class="page-title">
         <div class="iw-heading-title">
            <h1>
              Accountability
            </h1>
         </div>
      </div>
   </div>
</div>
<section class="who-we-are pt-3 pt-xl-0">
  <div class="nav-container">
      <div class="row align-items-center">
          <div class="col-md-6">
              <div>
                  <h1 class=" d-none text-capitalize"><span class="text-primary_0"> Accountability</span></h1>
                  <p class="">
                    <strong>RAAHI</strong> has established long-term commitment and proved sincerity towards its members, donors and needy people approaching us for help. We believe in staying true to our designed policies and work structure. We conduct our operations in a way that emphasizes good governance, integrity, high ethical standards and worthy respect for our people, our country and the environment. 
                  </p>
                  <p class="">
                    We work in transparent structure and hold accountability for all our operations. We provide a detailed report of every penny spent and the cases we are currently attending to including the cost incurred in assisting those needy people by the end of every month. And in case of any query you can call or email our team anytime. They will be pleased to assist you.

                  </p>
              </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="">
                <img src="./assets/img/about-cure/accountability.png" alt="accountability" class="img-fluid about-us-img-w">
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <p>We are generating a contingency fund for <strong>medical emergencies</strong> in order to provide financial support to those who are going through <strong>medical emergencies</strong>  and their financial condition is not good enough to help them sustain such emergencies.</p>
              <p class="my-4">We understand that by providing financial support, all the issues can't be resolved so we take care of pre-medical care and post medical care and also take care of the families in case the sole earning member is going through such medical condition or death. We stand by your side as a family.</p>
          </div>
      </div>
  </div>
</section>
<!--About Section-->
<app-newsletter></app-newsletter>