
<div class="page-heading mb-0" style="background-image:url(./assets/img/page-banner/our-process.png)">
   <div class="page-overlay"></div>
   <div class="container">
      <div class="page-title">
         <div class="iw-heading-title">
            <h1>
               Our Process
            </h1>
        </div>
      </div>
   </div>
</div>
<section class="our-process py-4">
    <div class="nav-container nav-container_our-process">
       <div class="row">
        <div class="col-md-12">
           <ul class="list-inline rounded-list">
           <li> After Receiving the application, the medical case will be shortlisted based on the financial status of the family.
           </li>
            <li>We raise funds for the patient.
           </li>
            <li>We support the patient and get them medically treated also support them with post-medical care.
           </li>
            <li>We maintain a track of the patient for the next year.
           </li>
            <li>After one year of monitoring, the medical case is closed from our end. Any unutilized balance will be transferred towards the treatment of other needed patients.
           </li>
         </ul>
        </div>
         <div class="col-md-12">
           <p><strong>Please note -</strong> We at <strong>RAAHI</strong> raise funds only through raahi to maintain the legitimacy and transparency of our work. We do not use any other platform for raising funds. Beware of any fake campaigns running on any other platform with our name.
           </p>
         </div>
       </div> 
    </div>
</section>
<app-newsletter></app-newsletter>
