 .rounded-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #f3ebebfa;
    color: #000;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    font-size: 1rem;
  }
  .rounded-list{
  	counter-reset: li;
  }
  .rounded-list li:hover{
    background: #eee;
  }
/*
  .rounded-list li:hover:before{
    transform: rotate(360deg);
  }
*/
  .rounded-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 45%;
    margin-top: -18px;
    background: #f3ebeb;
    height: 40px;
    width: 40px;
    line-height: 30px;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }
  @media only screen and (max-width: 991px){
	.nav-container_our-process {
    padding-left: 30px;
}
}